node_modules
dist
build
.next
.nuxt
.output
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
coverage
lib-cov
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock
.grunt
bower_components
.lock-wscript
build/Release
jspm_packages/
web_modules/
*.tsbuildinfo
.eslintcache
.stylelintcache
.cache
.parcel-cache
.DS_Store